<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Evaluate News With NLP!!!</title>

</head>

<body>
	<div id="loader" class="loader" style="display: none;"></div>
	<header>
		<h2>Evaluate A News Article With Natural language processing (NLP)</h2>
	</header>
	<main>
		<form id="form">
			<h2> To have an evaluate to your news article paste your URL in the box below
			</h2>
			<input type="text" id="url" placeholder="Put URL here:" />
			<button id="evaluate"> Evaluate </button>
		</form>
		<section id="results">
			<p id="agreement"></p>
			<p id="confidence"></p>
			<p id="irony"></p>
			<p id="score_tag"></p>
			<p id="subjectivity"></p>
		</section>
	</main>
	<footer>
		<p>&copy;2024 Beesan Abu-Mfarreh. All rights reserved.</p>
	</footer>
	<script>
		if ('serviceWorker' in navigator) {
			window.addEventListener('load', () => {
				navigator.serviceWorker.register('/service-worker.js').then(registration => {
					console.log('Service Worker registered with scope:', registration.scope);
				}).catch(error => {
					console.error('Service Worker registration failed:', error);
				});
			});
		}
	</script>
</body>

</html>